.footer {
    background: linear-gradient(to right, #445E93, #7EB2DD);
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    font-size: 0.95rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -3px 8px rgba(0,0,0,0.1);
    z-index: 999;
}